[submodule "app-umarells/easy-location-manager"]
	path = app-umarells/easy-location-manager
	url = https://github.com/Jameido/easy-location-manager-android
[submodule "app-umarells/easy-photo-picker"]
	path = app-umarells/easy-photo-picker
	url = https://github.com/Jameido/easy-photo-picker-android
[submodule "app-umarells/joda-time-utils"]
	path = app-umarells/joda-time-utils
	url = https://github.com/Jameido/joda-time-android-utils
